/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
}



html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar style start */




/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 8px 0px 20px 0px;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}


.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}





/* navbar style End */










.full-body{
	background: url(./image/bgimage.jpg) center no-repeat !important;
	background-size: cover;
	background-attachment: fixed;
	height: 170vh;
	font-weight: bold;
	letter-spacing: 2px;
}

.main{
	border: 3px solid #fbb03b;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    height: auto;
    width: 870px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
}
.left{
	padding-left: 5px;
	background-color: crimson;
	width: 260px;
	height: 100%;
	float: left;
}
.right{
	width: 500px;
	float: left;
}
.profile-img{
	height: 180px;
	width: 180px;
	background-color: #ddd;
	border-radius: 50%;
	margin-bottom: 20px;
	margin-left: 60px;
	box-shadow: 6px 7px 9px 5px rgba(220, 20, 60, 0.363);
}
.profile-img img{
	width: 100%;
	border-radius: 50%;
	height: 100%;
}
.box-1{
	position: relative;
}
.heading{
	background-color: #4d4d4d;
	padding: 10px;
	color: #fbb03b;
	text-align: left;
	padding-left: 20px;
	margin-right: -15px;
	font-size: 22px;
}
.heading::after{
	content: '';
	position: absolute;
	width: 21px;
	height: 18px;
	background-color: #5a5959;
	left: 191px;
	top: 26px;
	transform:rotate(56deg);
	z-index: -1;
}
.p1{
	padding: 9px 10px;
	font-size: 13px;
	font-weight: 700;
	color: white;
}
.icons1{
	font-size: 16px!important;
	padding-right: 10px!important;
	vertical-align: sub;
}
.skill-container{
	width: 90%;
	background-color: #4d4d4d;
	margin: 0px 10px;
}
.skill{
	text-align: right;
	padding-top: 2px;
	padding-bottom: 2px;
	color: white;
}
.html{
	width: 90%;
	background-color: white;
}
.css{
	width: 80%;
	background-color: white;
}
.js{
	width: 85%;
	background-color: white;
}
.jquery{
	width: 80%;
	background-color: white;
}
.web {
	width: 85%;
	background-color: white;
}
.gra{
	width: 70%;
	background-color: white;
}
.icons2{
	padding: 18px 10px;
}
.name-div{
	padding: 86px 0px 60px 55px;
	text-align: center;
	letter-spacing: 3px;
}

.name-div p{
	color:rgba(255, 255, 255, 0.753);
}
.name-div h1{
	margin-bottom: 10px;
	color: white;
}
.box-2{
	padding: 0px 50px;
	margin-top: 30px;
}
.p2{
	font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.7px;
	word-spacing: 2px;
	line-height: 18px;
	margin-top: 5px;
	text-align: justify;
	color: rgba(255, 255, 255, 0.76);
}
h2{
	font-size: 24px;
	margin-bottom: 15px;
	color: #fbb03b;
}
.icons3{
	vertical-align: bottom;
	font-size: 21px!important;
	color: rgb(17, 2, 2);
}
.p3{
	font-size: 13px;
	word-spacing: 1px;
	letter-spacing: 0px;
	margin-top: 10px;
	color: white;
}
.p3 span{
	color: #c9c9c9; padding-left: 20px;
}





/* footer section styling */
footer{
    font-family: 'Poppins', sans-serif;
}
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}









/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}
